.img {
    text-align: center;
    background-color: darkslategray;
    border: 10px solid rgb(5, 0, 0);
    padding: 5px;
    display: inline-block;
}
.titulo {
    font: 36px bold Arial;
    text-decoration: underline;
    text-align: center;
    background-color: black;
    color: red;
    border: 5px solid darkslategrey;
}
.text {
    font: 24px italic Arial;
    color: black;
}

a {
    display: block;
    text-align: center;
    border: 5px solid black;
    font: 32px italic Arial;
    color: darkslategrey;
    border: 5px solid darkred;
}