body {
    background-color: rgb(5, 5, 5);
}

#titulo {
    background-color: rgb(250, 249, 249);
    color: rgb(68, 1, 1);
    text-align: center;
    border: 15px solid rgb(73, 1, 1);
    font-size: 34px;
}

#vilao {
    display: inline-block;
    background-color: white;
    border: 21px solid darkred;
    box-sizing: border-box;
}

#card {
    background-color: white;
    width: 320px;
    height: 300px;
    display: inline-block;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#vilao > #card > #character > img {
    width: 320px;
    height: 300px;
}


a {
    display: block;
    color: red;
    font-size: 28px;
    text-align: center;
}

#character {
    display: inline-block;
    background-color: white;
    width: 320px;
    height: 300px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

/*Estilos CSS página Knull*/

.knull {
    text-align: center;
    background-color: darkslategrey;
    color: white;
    border: 10px solid darkred;
    box-sizing: border-box;
    font: 36px bold Arial;
}

.knulldeus {
    text-align: center;
    text-decoration: underline;
    font: 32px bold Arial;
    color: white;
    border: 5px dashed darkred;
    margin: 5px;
}

.knulltext {
    font: 24px italic Arial;
    color: white;
}

.knullexercito {
    text-align: center;
    font: 32px bold Arial;
    color: white;
    border: 5px dashed darkred;
    margin: 5px;
}
.knulltrevas {
    text-align: center;
    font: 32px bold Arial;
    color: white;
    border: 5px dashed darkred;
    margin: 5px;
}
.knullvilao {
    text-align: center;
    font: 32px bold Arial;
    color: white;
    border: 5px dashed darkred;
    margin: 5px;
}
.knullpagina {
    display: block;
    font-size: 30px;
    color: darkslategrey;
    text-align: center;
}

/*Estilos CSS página ultron*/

.ultron {
    text-align: center;
    background-color: goldenrod;
    color: darkred;
    border: 15px solid darkred;
    font: 38px bold Arial;
    padding: 10px;
}

.ultronimg {
    text-align: center;
    background-color: darkslategrey;
    border: 5px solid white;
}

.ultrontext{
    font: 24px italic Arial;
    color: white;
}

.ultronblocos{
    text-align: center;
    display: inline-block;
    background-color: darkslategrey;
    border: 27px solid black;
    padding-right: 32px;    
    padding-left: 32px;
}

.ultronhabilidade {
    text-align: center;
    background-color: darkviolet;
    color: black;
    font: 38px bold Arial;
    border:10px solid darkblue
}
.ultronpoderes {
    
    background-color: darkviolet;
    border: 10px solid darkblue;

}

.ultronpoder {
    display: inline-block;
    font: 24px italic Arial;
    background-color: darkred;
    border:5px solid darkorange;
    color: white;
    margin: opx;
}

.ultronpersonalidade {
    text-align: center;
    background-color: darkgreen;
    color: black;
    font: 38px bold Arial;
    border:10px solid darkorange;
}

.ultronpagina {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
}

/*Estilos CSS página aniquilador*/

.aniquilador {
    font: 38px italic Arial;
    border: 15px solid darkgreen;
    text-align: center;
    text-decoration: underline;
    padding: 8px;
    background-color: blueviolet;
}

.aniquiladorimg {
    text-align: center;
    background-color: black;
    border: 15px solid darkgreen;
}

.aniquiladortext {
    font: 24px italic Arial;
    color: white;
}

.aniquiladorsuper {
    text-align: center;
    background-color: darkgreen;
    color: black;
    font: 38px bold Arial;
    border:10px solid blueviolet;
}
.aniquiladorpoderes {
    background-color: blueviolet;
    border: 10px solid darkgreen;

}

.aniquiladorpoder {
    display: inline-block;
    font: 24px italic Arial;
    background-color: darkred;
    border:5px solid darkorange;
    color: white;
    margin: opx;
}
.aniquiladorhabilidade {
    font: 38px italic Arial;
    border: 15px solid darkgreen;
    text-align: center;
    text-decoration: underline;
    padding: 8px;
    background-color: blueviolet;
}

.aniquiladorfraquezas {
    font: 38px italic Arial;
    border: 15px solid darkgreen;
    text-align: center;
    text-decoration: underline;
    padding: 8px;
    background-color: blueviolet;
}
.paginaaniquilador {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    color: darkgreen;
}

/*Estilos CSS página mephisto*/ 

.mephisto {
    text-align: center;
    background-color: rgb(192, 12, 27);
    font-size: 46px;
}

.mephistodemon {
    text-align: center;
    border: 5px;
    border-style: dashed;
    border-color: red;
    font-weight: bold;
    font-size: 32px;
    color: white;
}
.mephistoimg {
    margin: auto ;
    text-align: center;
    background-color: black;
}
.mephistotext {
    font-size: 24px;
    color: white;
}
.mephistohabilidade {
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: rgb(248, 1, 1);
    background-color: rgb(7, 7, 7);
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
}
.mephistopoderes {
    text-align: left;
    font-weight: bold;
   
}
.mephistopoder1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}  
.mephistopoder2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}
.mephistopoder3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}
.mephistopoder4 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}
.mephistopoder5 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}
.mephistopoder6 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}
.mephistopoder7 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 20px;
    border-width: 10px; 
    border-style: groove;
    border-color: brown;
}
.mephistocriacao {
    text-align: center;
    border: 5px;
    border-style: dashed;
    border-color: rgb(218, 3, 3);
    background-color: rgb(247, 230, 4);
    color: rgb(5, 5, 5);
    font-weight: bold;
    font-size: 32px;
    text-decoration: underline;
}
.paginamephisto {
    display: block;
    text-align: center;
    font-size: 32px;
    font-family: Arial;
    color: darkred;
}

/*Estilos CSS página thanos*/ 

.thanos {
    font: 38px italic Arial;
    background-color: darkmagenta;
    border: 15px solid darkgoldenrod;
    text-align: center;
    padding: 8px;
}
.thanosimg {
    background-color: darkmagenta;
    border: 15px solid darkgoldenrod;
    text-align: center;
}

.thanostext {
    font: 24px italic Arial;
    color: white;
}

.paginathanos {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: darkmagenta;
    color: white;
}
.thanossuper {
    text-align: center;
    background-color: darkmagenta;
    color: black;
    font: 38px bold Arial;
    border:10px solid darkgoldenrod;
}
.thanospoderes {
    background-color: darkmagenta;
    border: 10px solid darkgoldenrod;

}

.thanospoder {
    display: inline-block;
    font: 24px italic Arial;
    background-color: darkblue;
    border:5px solid darkslategrey;
    color: white;
    margin: opx;
}
.thanoshabilidades {
    font: 38px italic Arial;
    background-color: darkmagenta;
    border: 15px solid darkgoldenrod;
    text-align: center;
    padding: 8px;
}


/*Estilos CSS página beyonder*/ 

.beyonder {
    font: 38px italic Arial;
    background-color: darkblue;
    border: 15px solid darkslategrey;
    text-align: center;
    padding: 8px;
    color: white;
}
.beyonderimg1 {
    background-color: darkblue;
    border: 15px solid darkslategrey;
    text-align: center;
    color: white;
}

.beyondertext {
    font: 24px italic Arial;
    color: white;
}
.beyonderimg2 {
    display: inline-block;
    text-align: center;
    background-color: darkblue;
    border: 53px solid darkslategrey;
    padding: 10px;
}
.paginabeyonder {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: darkblue;
    color: white;
}

/*Estilos CSS página hela*/ 

.hela {
    font: 38px italic Arial;
    background-color: green;
    border: 15px solid black;
    text-align: center;
    padding: 8px;
    color: white;
}
.helaimg1 {
    background-color: green;
    border: 15px solid black;
    text-align: center;
}

.helatext {
    font: 24px italic Arial;
    color: white;
}

.paginahela {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: green;
    color: white;
}
.helaimg2 {
    background-color: green;
    border: 53px solid black;
    display: inline-block;
    padding: 10px;

}
.helasuper {
    text-align: center;
    background-color: green;
    color: white;
    font: 38px bold Arial;
    border:10px solid black;
}
.helapoderes {
    background-color: green;
    border: 10px solid black;
    color: white;

}

.helapoder {
    display: inline-block;
    font: 24px italic Arial;
    background-color: darkolivegreen;
    border:5px solid white;
    color: black;
    margin: opx;
}

/*Estilos CSS página kang*/ 

.kang {
    font: 38px italic Arial;
    background-color: darkmagenta;
    border: 15px solid green;
    text-align: center;
    padding: 8px;
    color: white;
}
.kangimg1 {
    background-color: darkmagenta;
    border: 15px solid green;
    text-align: center;
}

.kangtext {
    font: 24px italic Arial;
    color: white;
}

.paginakang {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: darkmagenta;
    color: white;
}
.kangsuper {
    text-align: center;
    background-color: darkmagenta;
    color: white;
    font: 38px bold Arial;
    border:10px solid green;
}
.kangpoderes {
    background-color: darkmagenta;
    border: 10px solid green;
    color: white;

}

.kangpoder {
    display: inline-block;
    font: 24px italic Arial;
    background-color: darkgoldenrod;
    border:5px solid darkslategrey;
    color: white;
}


/*Estilos CSS página fenix negra*/ 

.fenix  {
    font: 38px italic Arial;
    background-color: rgb(230, 197, 14);
    border: 15px solid black;
    text-align: center;
    padding: 8px;
    color: white;
}
.feniximg1 {
    background-color: rgb(230, 197, 14);
    border: 15px solid black;
    text-align: center;
}

.fenixtext {
    font: 24px italic Arial;
    color: white;
}

.paginafenix {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: rgb(230, 197, 14);
    color: white(5, 5, 5);
}

/*Estilos CSS página apocalipse*/ 

.apocalipse {
    font: 38px italic Arial;
    background-color: darkblue;
    border: 15px solid black;
    text-align: center;
    padding: 8px;
}
.apocalipseimg1 {
    background-color: darkblue;
    border: 15px solid black;
    text-align: center;
    color: white;
}

.apocalipsetext {
    font: 24px italic Arial;
    color: white;
}

.paginaapocalipse {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: darkblue;
    color: white;
}
.apocalipseimg2 {
    background-color: darkblue;
    border: 35px solid black;
    display: inline-block;
    text-align: center;
    padding: 28px;
}

/*Estilos CSS página destino*/ 

.destino {
    font: 38px italic Arial;
    background-color: darkslategrey;
    border: 15px solid darkgreen;
    text-align: center;
    padding: 8px;
    color: white;
}
.destinoimg1 {
    background-color: darkslategrey;
    border: 15px solid darkgreen;
    text-align: center;
}

.destinotext {
    font: 24px italic Arial;
    color: white;
}

.paginadestino {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: darkslategrey;
    color: white;
}

.destinotext1 {
    text-align: center;
    font-size: 30px italic Arial;
    border: 4px solid black;
    padding: 3px;
    background-color: darkgoldenrod;
}

/*Estilos CSS página carnificina*/ 

.carnificina {
    font: 38px italic Arial;
    background-color: darkred;
    border: 15px solid black;
    text-align: center;
    padding: 8px;
    color: white;
}
.carnificinaimg1 {
    background-color: darkred;
    border: 15px solid black;
    text-align: center;
}

.carnificinatext {
    font: 24px italic Arial;
    color: white;
}

.paginacarnificina {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: darkred;
    color: white;
}

/*Estilos CSS página graviton*/ 

.graviton {    
    font: 38px italic Arial;
    background-color: blue;
    border: 15px solid darkslategrey;
    text-align: center;
    padding: 8px;
}
.gravitonimg1 {
    background-color: blue;
    border: 15px solid darkslategrey;
    text-align: center;
    color: white;
}

.gravitontext {
    font: 24px italic Arial;
    color: white;
}

.paginagraviton {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color:darkslategrey;
    color: blue;
}

/*Estilos CSS página magneto*/ 

.magneto {
    font: 38px italic Arial;
    background-color: darkmagenta;
    border: 15px solid red;
    text-align: center;
    padding: 8px;
    color: white;
}
.magnetoimg1 {
    background-color: darkmagenta;
    border: 15px solid red;
    text-align: center;
}

.magnetotext {
    font: 24px italic Arial;
    color: white
}

.paginamagneto {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: darkmagenta;
    color:red;
}

/*Estilos CSS página maestro*/ 

.maestro {
    font: 38px italic Arial;
    background-color: green;
    border: 15px solid darkorchid;
    text-align: center;
    padding: 8px;
    color: white;
}
.maestroimg1 {
    background-color: green;
    border: 15px solid darkorchid;
    text-align: center;
}

.maestrotext {
    font: 24px italic Arial;
    color: white;
}

.paginamaestro {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: green;
    color: darkorchid;
}

/*Estilos CSS página loki*/ 

.loki {
    font: 38px italic Arial;
    background-color: green;
    border: 15px solid darkgoldenrod;
    text-align: center;
    padding: 8px;
}
.lokiimg1 {
    background-color: green;
    border: 15px solid darkgoldenrod;
    text-align: center;
}

.lokitext {
    font: 24px italic Arial;
    color: white;
}

.paginaloki {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: green;
    color: darkgoldenrod;
}
.lokisuper {
    text-align: center;
    background-color: green;
    color: white;
    font: 38px bold Arial;
    border:10px solid darkgoldenrod
}
.lokipoderes {
    background-color: green;
    border: 10px solid black;

}

.lokipoder {
    display: inline-block;
    font: 24px italic Arial;
    background-color: darkgoldenrod;
    border:5px solid green;
    color: black;
    margin: opx;
}

/*Estilos CSS página evolucionario*/ 

.evolucionario {
    font: 38px italic Arial;
    background-color: darkmagenta;
    border: 15px solid red;
    text-align: center;
    padding: 8px;
    color: white;
}
.evolucionarioimg1 {
    background-color: darkmagenta;
    border: 15px solid red;
    text-align: center;
}

.evolucionariotext {
    font: 24px italic Arial;
    color: white;
}

.paginaevolucionario {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: darkmagenta;
    color: red;
}

/*Estilos CSS página dormammu*/ 

.dormammu {
    font: 38px italic Arial;
    background-color: red;
    border: 15px solid purple;
    text-align: center;
    padding: 8px;
    color: white;
}
.dormammuimg1 {
    background-color: red;
    border: 15px solid purple;
    text-align: center;
    color: white;
}

.dormammutext {
    font: 24px italic Arial;
    color: white;
}

.paginadormammu {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: purple;
    color: red;
}

/*Estilos CSS página molecular*/ 

.molecular {
    font: 38px italic Arial;
    background-color: green;
    border: 15px solid darkorchid;
    text-align: center;
    padding: 8px;
    color: white;
}
.molecularimg1 {
    background-color: green;
    border: 15px solid darkorchid;
    text-align: center;
}

.moleculartext {
    font: 24px italic Arial;
    color: white;
}

.paginamolecular {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: green;
    color: white;
}

/*Estilos CSS página dracula*/ 

.dracula {
    font: 38px italic Arial;
    background-color: red;
    border: 15px solid white;
    text-align: center;
    padding: 8px;
}
.draculaimg1 {
    background-color: red;
    border: 15px solid white;
    text-align: center;
}

.draculatext {
    font: 24px italic Arial;
    color: white;
}

.paginadracula {
    font-size: 32px;
    display: block;
    text-align: center;
    font-family: Arial;
    background-color: white;
}